<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ohsm-single","style":{"spacing":{"padding":{"top":"2rem","bottom":"3.5rem"}}},"layout":{"type":"constrained","contentSize":"1180px"}} -->
<main class="wp-block-group ohsm-single" style="padding-top:2rem;padding-bottom:3.5rem"><!-- wp:woocommerce/breadcrumbs /-->

<!-- wp:woocommerce/legacy-template {"template":"single-product"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
